# Q-13. Write an SQL query to show only odd rows from aÂ table.

SELECT * FROM TABLE_NAME WHERE MOD(ROW_NUMBER,2)=1;

# Q-14. Write an SQL query to clone a new table from another table.

The general query to clone a table with data is:

SELECT * INTO WorkerClone FROM Worker;

The general way to clone a table without information is:

SELECT * INTO WorkerClone FROM Worker WHERE 1 = 0;

An alternate way to clone a table (for MySQL) without is:

CREATE TABLE WorkerClone LIKE Worker;