# Q-19. Write an SQL query to determine the 5th highest salary without using TOP or limit method.

SELECT DISTINCT column_name FROM table_name ORDER BY column_name DESC LIMIT 4,1;

# Q-20. Write an SQL query to fetch the list of employees with the same salary.

SELECT Name
FROM table1 
WHERE Salary IN (
    SELECT Salary
    FROM table1
    GROUP BY Salary
    HAVING COUNT(*) > 1
)