# Q-1. Write an SQL query to print the FIRST_NAME from Worker table after replacing ‘a’ with ‘A’.

SELECT REPLACE(FIRST_NAME, 'a','A') FROM WORKER;

# Q-2. Write an SQL query to print all Worker details from the Worker table order by FIRST_NAME Ascending and DEPARTMENT Descending.

SELECT * WORKER AS W   ORDER BY W.FIRST_NAME ASC,  ORDER BY W.DEPARTMENT DESC;

# Q-3. Write an SQL query to fetch the names of workers who earn the highest salary.

SELECT * FROM WORKER WHERE SALARY = (SELECT(MAX(SALARY)) FROM WORKER);