# Q-1. Write an SQL query to print details of the Workers who have joined in Febâ€™2014.

SELECT * FROM WORKERS WHERE YEAR(JOINING_DATE) = 2014 AND MONTH(JOINING_DATE) = 2;

# Q-2. Write an SQL query to fetch duplicate records having matching data in some fields of a table.

SELECT FIELD1,FIELD2,FIELD3,FIELD4, COUNT(*)
FROM TABLE_NAME
GROUP BY FIELD1,FIELD2,FIELD3,FIELD4
HAVING COUNT(*)>1

# Q-3. How to remove duplicate rows from Employees table.

DELETE S1 FROM student_contacts AS S1  
INNER JOIN student_contacts AS S2   
WHERE S1.id < S2.id AND S1.email = S2.email;